@import url(./texts.css);
@import url(./digits.css);
body{
    margin: 0;
    background: #0B2434;
    font-family: 'Karla', sans-serif;
}
button{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 800px;
    width: 800px;
    background: #F5F5F5;
    border-radius: 10px;
}
.confetti{
    height: 100vh;
    width: 100vw;
}
@media(max-height: 800px){
    main{
        height: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 900px){
    .container{
        height: 650px;
        width: 650px;
    }
}
@media (max-width: 768px){
    main{
        height: 100vh;
        width: 100vw;
        display: block;
        justify-content: none;
        align-items: none;
    }
    .container{
        min-height: 100%;
        height: auto;
        width: auto;
        border-radius: 0px;
    }
}